@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat&family=Poppins&display=swap");

/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

.navbar {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background: rgba(0, 0, 0, 0.6) !important;
  padding: 20px 0;
  color: white;
}

.navbar-nav .nav-link {
  color: #fff;
  padding-left: 20px;
}

.nav-link:hover {
  color: #1ebba3 !important;
}

.heading-content {
  position: absolute;
  top: 90%;
  width: 100%;
  max-width: 100%;
  margin-left: 4px;
}

.heading-content h5 {
  font-size: 4em;
  font-weight: 500;

  font-family: monospace;
}

.heading-content h1 {
  font-size: 4em;
  font-weight: bold;

  font-family: "Montserrat", sans-serif;
}

.heading-content p {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: lighter;
  font-family: "Montserrat", sans-serif;
  word-spacing: 5px;
  letter-spacing: 2px;
}

#about .btn {
  border: 2px solid transparent;
  width: 40%;
  padding: 15px 22px;
  background: #000;
  border-radius: 5px;
  margin-top: 10px;
  margin: 0 10px;
}

#about .btn a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

#about .btn:hover {
  border: 2px solid #1ebba3;
  cursor: pointer;
}

.cus {
  height: 100%;
}

.carousel-control-prev-icon {
  background-color: rgba(0, 0, 0, 0.6) !important;
  border-radius: 5px;
}

.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.6) !important;
  border-radius: 5px;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #0b0a0a;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.banner-area {
  position: absolute;
  top: 90%;
  left: 72%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.banner-area h3 {
  font-size: 30px;
  text-transform: uppercase;
  color: rgb(23, 22, 22);
  margin: 0 0 40px 0;
}

.banner-area h2 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  line-height: 0;
}

.banner-area h2 span {
  color: darkorange;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: 1px solid red;
}

.progress {
  margin-bottom: 1rem;
}

.progress {
  display: flex;
  height: 3rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.cush {
  font-size: 2em;
}

img.img-fluid.h-80.cusi {
  margin-left: 186px;
  width: 50%;
}

@media (max-width: 800px) {
  .banner-area h2 {
    font-size: 1.3em;
  }
  .banner-area h3 {
    margin: 0 0 20px 0;
  }
  .banner-area {
    position: absolute;
    top: 30%;
    left: 50%;
  }
  .cusi {
    margin: 0;
  }
  img.img-fluid.h-80.cusi {
    margin-left: 86px;
    width: 50%;
    margin-bottom: 20px;
  }
}
